// Title bar styles for LAN Ahead
body {
	padding-top: 30px;

	@media(min-width: 600px) {
		padding-top: 45px;
	}
}

#titleBar {
	background-color: $purple;
	color: $white;
	@include flex-container-center;
	padding: 0 5px;
	font-size: .9em;
	height: 30px;
	position: fixed;
	top: 0;
	width: calc(100% - 10px);

	@media(min-width: 600px) {
		border-radius: 0 0 $largeCorner $largeCorner;
		width: calc(100% - 40px);
	}

	.scrolled & {
		@media(min-width: 600px) {
			border-radius: 0;
		}
	}

	@media(min-width: 1030px) {
		width: 990px;
	}
}

#goHome {
	@include flex-container-center;
}

#favicon {
	width: 20px;
	height: 20px;
	display: inline-block;
}

#siteTitle {
	font-size: inherit;
	margin: 0 18px 0 7px;
	font-family: 'Istok Web', sans-serif;
	font-weight: normal;
	padding-top: 4px;
	line-height: 26px;
}

#user-status {
	margin-left: auto;
	margin-right: 5px;

	#user-trigger {
		padding: 4px 7px 0;
		line-height: 26px;
		display: flex;
		cursor: pointer;

		&.open,
		&:hover {
			background-color: $lightPurple;
		}

		.avatar {
			width: 24px;
			height: 24px;
			margin: -1px 7px 0 0;
		}
	}
}

@import "!userActions";
