@use "!base" as lana;

h2.inbox {
	&:before {
		margin-right: 10px;
	}
}

#email li button {
	@include lana.icon-button;
	color: lana.$white;
	border-radius: lana.$gentleCorner;

	&:hover {
		background-color: lana.$purple;
	}
}
