// Styles specific to the setup page
@use "!base" as lana;

@font-face {
	font-family: InconsolataGo;
	src: url(InconsolataGo-Regular.woff);
}

.percent-field {
	margin: 3px 20px;
	background-color: lana.$darkMediumGrey;
	border-radius: lana.$gentleCorner;

	.percent-value {
		height: 10px;
		background-color: lana.$blue;
		border-radius: lana.$gentleCorner;
	}
}

.stepsTaken {
	list-style-type: square;
	margin: 10px 20px;
	padding-left: 16px;
}

#database-connection,
#twitch-keys,
#google-keys {
	.label {
		@include lana.flex-item-fixed(105px);
	}
}

summary {
	margin-left: 10px;
}

blockquote {
	margin: 0 0 0 20px;
	border-left: 3px solid lana.$lightGrey;
}

pre {
	padding: 5px 10px;
	border-radius: lana.$gentleCorner;
	background-color: lana.$lightGrey;
	color: lana.$black;
	overflow-x: auto;
}

code {
	font-family: InconsolataGo, monospace;
}
