// Styles specific to the setup page

@font-face {
	font-family: InconsolataGo;
	src: url(InconsolataGo-Regular.woff);
}

.percent-field {
	margin: 3px 20px;
	background-color: $darkMediumGrey;
	border-radius: $gentleCorner;

	.percent-value {
		height: 10px;
		background-color: $blue;
		border-radius: $gentleCorner;
	}
}

.stepsTaken {
	list-style-type: square;
	margin: 10px 20px;
	padding-left: 16px;
}

#database-connection,
#twitch-keys,
#google-keys {
	.label {
		@include flex-item-fixed(105px);
	}
}

summary {
	margin-left: 10px;
}

blockquote {
	margin: 0 0 0 20px;
	border-left: 3px solid $lightGrey;
}

pre {
	@extend p;
	padding: 5px 10px;
	border-radius: $gentleCorner;
	background-color: $lightGrey;
	color: $black;
	overflow-x: auto;
}

code {
	font-family: InconsolataGo, monospace;
}
