// lana.scss contains general styles for all of LAN Ahead.

@import "!base";

html {
	color-scheme: dark;
	background-color: $purpleGrey;
	color: $lightMediumGrey;

	@media(min-width: 600px) {
		padding: 0 15px;
	}
}

body {
	padding: 0;
	margin: 0 auto;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: 100%;
	font-family: 'Istok Web', sans-serif;
	font-size: 1.25em;
	max-width: 1000px;
}

main {
	background-color: $darkGrey;
	color: $lightGrey;
	display: inline-block; // to keep child margins inside
	width: 100%;

	@media(min-width: 600px) {
		border-radius: $mediumCorner;
	}

	.scrolled & {
		@media(min-width: 600px) {
			border-radius: 0 0 $mediumCorner $mediumCorner;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1.25em;
	font-family: 'Exo 2', sans-serif;
	font-weight: normal;
	margin: 20px 10px 5px;
}

h1 {
	font-size: 1.5em;
	margin: 5px 10px;
	color: $orange;

	&:before {
		@include fa-label;
		margin-right: 9px;
	}
}

:link,
:visited {
	color: $white;
	outline: none;
	text-decoration: inherit;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

p,
ol {
	margin: 10px 20px;
}

ol {
	padding: 0;
}

.pages {
	nav {
		margin: 5px 15px;

		a {
			margin: 5px;
			padding: 1px 5px 0;

			&:before {
				margin-right: 5px;
			}

			&.selected {
				background-color: $orange;
				border-radius: $gentleCorner;
			}
		}
	}

	@media(min-width: 600px) {
		display: flex;

		nav a {
			display: block;
		}
	}
}

[draggable].dragging {
	opacity: 50%;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.fade-enter-active {
	transition: all 300ms ease;
}

.fade-leave-active {
	transition: all 1600ms ease;

	&.closing {
		transition: none;
	}
}

.fade-enter-to,
.fade-leave-from {
	opacity: 1;
}

.loading:before {
	@include fa-label;
}

.working:after {
	// this is essentially fa-label but with the margin on the other side since it's after
	@include fontawesome;
	font-size: .9em;
	margin-left: 5px;
}

.avatar {
	border-radius: $gentleCorner;
	width: 48px;
	height: 48px;
}

@import "!icons";
@import "!forms";
@import "!titleBar";
@import "!statusBar";
@import "settings";
@import "signIn";
@import "player";
@import "setup";
